﻿.modal-header
{
    position: relative;
}

.modal-title-loading
{
    position: absolute;
    right: 15px;
    top: 19px;
    width: 16px;
    height: 16px;
    background-image: url('../../img/ajax-loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.modal-failed-icon 
{
    width: 40px;
    height: 40px;
    background-color: rgba(221, 75, 57, 0.8);
    text-align: center;
    padding-top: 10px;
    margin-right: 15px;    
}

.modal-failed-icon > span.glyphicon-remove 
{
    font-size:18px;
    color:#fff;
}

.modal-success-icon 
{
    width: 40px;
    height: 40px;
    background-color: #00a65a;
    text-align: center;
    padding-top: 10px;
    margin-right: 15px;    
}

.modal-success-icon > span.glyphicon-ok 
{
    font-size:18px;
    color:#fff;
}

.modal-footer-inf
{
    float: left;
    width: 60%;
    line-height: 34px;
    height: 34px;    
    text-align: left;
    font-size: 12px;
    color: red;    
}

.form-title-loading
{
    position: absolute;
    right: 15px;
    top: 5px;
    width: 216px;
    height: 16px;
    background-image: url('../../img/ajax-loader.gif');
    background-position: right center;
    background-repeat: no-repeat;
    display: none;
    font-size: 13px;
}

.form-loading
{
    position: absolute;
    left: 277px;
    width: 18px;
    top:60px;
    height: 16px;
    background-image: url('../../img/ajax-loader.gif');
    background-position: right center;
    background-repeat: no-repeat;
    list-style: none;
    display: none;
    font-size: 13px;
}
.tab-item
{
    min-height:215px;
    max-height:430px;
    overflow-y:auto;    
}

.tab-item-element
{
    height:41px;
    line-height:36px;
    list-style:none;
    border-bottom:1px solid #f4f4f4;
    padding-left:10px;    
}
.nav-tabs-custom>.tab-content 
{
    padding:0px;
}
.item-text
{
    float:left;
    width:70%;
    
}
.item-right
{
    float:left;
    width:30%;
    
}
.table-add-new
{
    float: right;
}

.inline-edit-img
{
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
    background-color: #eeeeee;
    border: 1px solid #d9d9d9;
    float: left;
}

.inline-edit-img-action
{
    float:left;
    margin: 10px;
    margin-left: 15px;
}

.inline-edit-img-action-noimg
{
    float: left;
    margin-top: 7px;
}

.inline-edit-img-action > div.imgaction-update, .inline-edit-img-action > div.imgaction-delete, .inline-edit-img-action-noimg > div.imgaction-select
{
    cursor: pointer;
    color: Navy;
}

.inline-edit-img-action > div.imgaction-update:hover , .inline-edit-img-action > div.imgaction-delete:hover, .inline-edit-img-action-noimg > div.imgaction-select:hover
{
    text-decoration: underline;
}
.no-padding-left
{
    padding-left:0px;   
}
.no-padding-right
{
    padding-right:0px;    
}







