﻿@using System.Web.Optimization;
@using VahaInetpub.Models;
@using VahaInetpub.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = VahaInetpub.Utility.CommonConfiguration.SiteLanguage();
}
@Styles.Render("~/plugins/css/datatables")
@Scripts.Render("~/plugins/js/datatables")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
                        <div class="box-body">
                <table id="dtTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        @foreach (String header in ViewBag.TableHeaders)
                        {
                            <th>@header</th>
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (UserObject UserObj in ViewBag.userList)
                    {
                        UserObj.GenerateSessionParam();

                        String fullName = UserObj.Name + " " + UserObj.MidName;
                        String deleteTip = ViewBag.DeleteTip;
                        String editTip = ViewBag.EditTip;

                        String deleteConfirmMsg = String.Format(ViewBag.DeleteMsg, UserObj.Email, UserObj.Name + " " + UserObj.MidName + " " + UserObj.Surname);

                        String deleteUrl = "/process/usr/delete/" + UserObj.SessionParam;
                        String Role = "";
                        if (UserObj.Role ==0)
                        {
                            Role = "Yönetici";
                        }
                        else
                        {
                            Role = "İzleyici";
                        }
                         <tr>
                            <td>@fullName.Trim()</td>
                            <td>@UserObj.Surname</td>
                            <td>@UserObj.Email</td>
                            <td>@Role</td>
                            <td> 
                                <a href="~/usr/edit/@UserObj.SessionParam" class="tooltipIcon" title="@editTip">
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;
                                </a>  
                            
                            @if (!UserObj.isLoggedInUser())
                            {
                                <a href="javascript:void(0)" onclick="DoConfirmAndAction('@StringResources.encodeString(deleteTip)','@StringResources.encodeString(deleteConfirmMsg)','@StringResources.encodeString(deleteUrl)')" class="tooltipIcon" title="@deleteTip">
                                    <i class="fa fa-trash-o"></i>&nbsp;
                                </a>                                
                            }
                            
                            </td>
                        </tr>    
                    }
                       
                    </tbody>   
                </table>                             
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dtTable').DataTable({
            "language": {
                "url": JsAppRoot + "Common/plugins/datatables/lang/" + JsAppLang + ".json"
            }
        });
        $('.tooltipIcon').tooltip()
    });
</script>