﻿@using System.Web.Optimization;
@using VahaInetpub.Models;
@using VahaInetpub.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = VahaInetpub.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/UserAdd")

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
            </div>
            <form class="form-horizontal" id="UserAddForm" name="UserAddForm">
                <div class="box-body">
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">@ViewBag.FormLabels["Name"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" id="Name" name="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MidName" class="col-sm-3 control-label">@ViewBag.FormLabels["MidName"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="MidName" name="MidName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Surname" class="col-sm-3 control-label">@ViewBag.FormLabels["Surname"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" id="Surname" name="Surname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="col-sm-3 control-label">@ViewBag.FormLabels["Email"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required email" id="Email" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-sm-3 control-label">@ViewBag.FormLabels["Password"]</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control required" id="Password" name="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PasswordRe" class="col-sm-3 control-label">@ViewBag.FormLabels["PasswordRe"]</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="PasswordRe" name="PasswordRe" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Role" class="col-sm-3 control-label">@ViewBag.FormLabels["Role"]</label>
                        <div class="col-sm-4">
                            <select class="form-control required" id="Role" name="Role">
                                <option value="0">Yönetici</option>
                                <option value="1">İzleyici</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-4">
                        <button type="submit" id="UserAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                            @ViewBag.SubmitBtn
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <//div>
