﻿@using System.Web.Optimization;
@using VahaInetpub.Models;
@using VahaInetpub.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = VahaInetpub.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/UserEdit")

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
            </div>
            <form class="form-horizontal" id="UserEditForm" name="UserEditForm">
                <div class="box-body">
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">@ViewBag.FormLabels["Name"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Name" name="Name" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MidName" class="col-sm-3 control-label">@ViewBag.FormLabels["MidName"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="MidName" name="MidName" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Surname" class="col-sm-3 control-label">@ViewBag.FormLabels["Surname"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" id="Surname" name="Surname" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="col-sm-3 control-label">@ViewBag.FormLabels["Email"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required email" id="Email" name="Email" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Role" class="col-sm-3 control-label">@ViewBag.FormLabels["Role"]</label>
                        <div class="col-sm-4">
                            <select class="form-control required" id="Role" name="Role" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-4">
                        <button type="submit" id="UserEditFormSubmit" class="btn btn-flat btn-info edit-form-btn" data-loading-text="...">
                            @ViewBag.SubmitBtn
                        </button>
                        <a href="/usr/list" id="UserEditFormCancel" class="btn btn-flat btn-warning edit-form-btn" data-loading-text="...">
                            @ViewBag.CancelBtn
                        </a>
                    </div>
                </div>
                <input type="hidden" id="refcode" name="refcode" value="@ViewBag.Refcode" />
            </form>
        </div>
    </div>
