﻿@using VahaInetpub.Utility;
@using VahaInetpub.Models;
@{
    String lang = CommonConfiguration.SiteLanguage();
    String txtCopyright = StringResources.getString(StringResources.RES_LABEL, "FOOTER_COPYRIGHT", lang);
    String txtCompanyLink = StringResources.getString(StringResources.RES_LABEL, "FOOTER_COMPANY", lang);
    String hrefCompanyLink = StringResources.getString(StringResources.RES_LABEL, "FOOTER_COMPANY_HREF", lang);
    String txtRights = StringResources.getString(StringResources.RES_LABEL, "FOOTER_RIGHTS", lang);
    String txtVersion = StringResources.getString(StringResources.RES_LABEL, "FOOTER_VERSION_INFO", lang);
}

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            @Html.Raw(txtVersion)
        </div>
        <strong>@txtCopyright <a href="@hrefCompanyLink">@txtCompanyLink</a>.</strong> @txtRights
    </footer>