﻿@using System.Web.Optimization;
@using VahaInetpub.Utility;
@using VahaInetpub.Models;
@{
    String lang = CommonConfiguration.SiteLanguage();
    String AppRootUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    PageDefinitonData pData = PageDefinitonData.GetBreadCrumbSessionData(Session);
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@pData.PageTitle</title>

    @Styles.Render("~/Content/css")

    <script>
        var JsAppRoot = '@AppRootUrl';
        var JsAppLang = '@lang';        
    </script>
</head>
<body class="skin-blue fixed sidebar-mini">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte")
    @Scripts.Render("~/bundles/tools")
    @Scripts.Render("~/bundles/ckfinder")
    <div class="wrapper">

        @Html.Partial("../Layout/Header")

        @Html.Partial("../Layout/SideBar")

        <div class="content-wrapper">
            <section class="content-header">
                @Html.Partial("../Layout/Breadcrumb")
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>

        @Html.Partial("../Layout/Footer")

    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="infoModal">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="changepwd"  class="modal" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="confirmProcessHeader"></div>
                    <div class="modal-body" id="confirmProcessBody"></div>
                    <div class="modal-footer">
                        <a href="javascript:void(0);" id="btnConfirmOk"    class="btn btn-red">Evet</a>
                        <a href="javascript:void(0);" id="btnConfirmCancel" onclick="$('#confirmProcessModal').modal('hide');" class="btn btn-silver" data-close-text="Kapat" data-cancel-text="Vazgeç"></a>
                    </div>
             </div>
         </div>
    </div>
    <div id="processResultModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="processResultHeader"></div>
                <div class="modal-body" id="processResultBody"></div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" id="btnProcessClose" class="btn btn-red">Kapat</a>
                </div>
            </div>
        </div>
    </div> 
     <div id="confirmProcessModal"  class="modal" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="confirmProcessHeader"></div>
                    <div class="modal-body" id="confirmProcessBody"></div>
                    <div class="modal-footer">
                        <a href="javascript:void(0);" id="btnConfirmOk" class="btn btn-red">Evet</a>
                        <a href="javascript:void(0);" id="btnConfirmCancel" onclick="$('#confirmProcessModal').modal('hide');" class="btn btn-silver" data-close-text="Kapat" data-cancel-text="Vazgeç"></a>
                    </div>
             </div>
         </div>
    </div> 

    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="mapModal" style="overflow:hidden;">
        <div class="modal-dialog" style="width:960px;height:605px;">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="draftMapModal" style="overflow:hidden;">
    </div>

    <script>
        $(document).ready(function () { $.ajaxSetup({ cache: false }); })
    </script>

</body>
</html>
