﻿@using System.Web.Optimization;
@using VahaInetpub.Utility;
@{
    String lang = CommonConfiguration.SiteLanguage();
    String AppRootUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/plugins/css/iCheck")

    <script>
        var JsAppRoot = '@AppRootUrl';
        var JsAppLang = '@lang';        
    </script>

</head>
<body class="login-page" style="background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);">
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @Scripts.Render("~/plugins/js/iCheck")
     @Scripts.Render("~/bundles/tools")

    <div class="login-box">
        <div class="login-logo">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="background-image:url('../Common/img/vaha.png');background-size:cover;height:69px;">
                </div>
            </div>
        </div>
        <div class="login-box-body">
            @RenderBody()
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="infoModal">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () { $.ajaxSetup({ cache: false }); })
    </script>
</body>
</html>
