﻿@using System.Web.Optimization;
@using VahaInetpub.Models;
@using VahaInetpub.Utility;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = VahaInetpub.Utility.CommonConfiguration.SiteLanguage();
}
@Scripts.Render("~/pages/js/CreateContract")
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
            </div>
            <form class="form-horizontal" id="CreateContractForm" name="CreateContractForm">
                <div class="box-body">
                    <div class="form-group">
                        <label for="Role" class="col-sm-3 control-label">@ViewBag.FormLabels["UserType"]</label>
                        <div class="col-sm-4">
                            <select class="form-control required" id="UserType" name="UserType">
                                <option value="1">Alıcı</option>
                                <option value="2">Satıcı</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Role" class="col-sm-3 control-label">@ViewBag.FormLabels["Sellers"]</label>
                        <div class="col-sm-4">
                            <select class="form-control required" id="Sellers" name="Sellers">
                                <option value="1">Alıcı 1</option>
                                <option value="2">Alıcı 2</option>
                                <option value="3">Alıcı 3</option>
                                <option value="4">Alıcı 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MidName" class="col-sm-3 control-label">@ViewBag.FormLabels["PurchaseOrder"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" id="PurchaseOrder" name="PurchaseOrder" />
                        </div>
                    </div>
                    <div class="form-group" id="totaldelivery">
                        <label for="TotalPrice" class="col-sm-3 control-label">@ViewBag.FormLabels["TotalPrice"] ve @ViewBag.FormLabels["DeliveryDate"]</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control required" id="TotalPrice" name="TotalPrice" placeholder="Tutar giriniz..." />
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control required" id="DeliveryDate" name="DeliveryDate" placeholder="Tarih seçiniz..." />
                        </div>
                        <div class="col-sm-1" style="line-height:35px;cursor:pointer;">
                            <i class="fa fa-plus" id="addNewArea"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Text" class="col-sm-3 control-label">@ViewBag.FormLabels["Explantation"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" id="Explantation" name="DeliveryDate" />
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="IncoTerm" class="col-sm-3 control-label">@ViewBag.FormLabels["IncoTerm"]</label>
                            <div class="col-sm-4">
                                <select class="form-control required" id="IncoTerm" name="IncoTerm">
                                    <option value="1">Ödeme 1</option>
                                    <option value="2">Ödeme 2</option>
                                    <option value="3">Ödeme 3</option>
                                    <option value="4">Ödeme 4</option>
                                </select>
                            </div>
                        </div>*@

                    <div class="box" id="paymentType">
                        <div class="box-header">
                            <h3 class="box-title">Ödeme Yöntemi</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="example1_filter" class="dataTables_filter"><label>Ara:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                            <thead>
                                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 217px;">Banka Adı</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 267.4px;">Hesap Türü</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 237px;">Tutar</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 186.6px;">Para Birimi</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 186.6px;">Kullanılacak Tutar</th>></tr>
                                            </thead>
                                            <tbody>

                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">Garanti Bankası</td>
                                                    <td>Vadesiz Hesap</td>
                                                    <td>35.000</td>
                                                    <td>TL</td>
                                                    <td><input type="text" class="form-control required alican" disabled="disabled" id="PurchaseOrder1" name="PurchaseOrder1" /></td>
                                                    <td><a class="btn mini blue-stripe" id="selecteditem1">Ödemeyi Seç</a></td>

                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1">İş Bankası</td>
                                                    <td>İleri Tarihli EFT</td>
                                                    <td>20.000</td>
                                                    <td>TL</td>
                                                    <td><input type="text" class="form-control required" disabled="disabled" id="PurchaseOrder2" name="PurchaseOrder2" /></td>
                                                    <td><a class="btn mini blue-stripe" id="selecteditem2" onclick="selecteditemfunc();">Ödemeyi Seç</a></td>

                                                </tr>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">AKBANK</td>
                                                    <td>Vadesiz Döviz Hesabı</td>
                                                    <td>10.000</td>
                                                    <td>USD</td>
                                                    <td><input type="text" class="form-control required" disabled="disabled" id="PurchaseOrder3" name="PurchaseOrder3" /></td>
                                                    <td><a class="btn mini blue-stripe" id="selecteditem3" onclick="selecteditemfunc();">Ödemeyi Seç</a></td>

                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">Banka Adı</th>
                                                    <th rowspan="1" colspan="1">Hesap Türü</th>
                                                    <th rowspan="1" colspan="1">Tutar</th>
                                                    <th rowspan="1" colspan="1">Para Birimi</th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button next disabled"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
        </div>
        <div class="box-footer">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-4">
                <button type="submit" id="CreateContractFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                    Ödeme Yap
                    @ViewBag.SubmitBtn
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
<script>


    $(document).ready(function () {
        var count = 0;
        $('#DeliveryDate').datepicker();
        if ($('#UserType').val() == '2') {
            $('#paymentType').attr("style", "display:none");
        }
        else {
            $('#paymentType').attr("style", "display:table");
        }

        $('#UserType').change(function (e) {
            if ($('#UserType').val() == '2') {
                $('#paymentType').attr("style", "display:none");
            }
            else {
                $('#paymentType').attr("style", "display:table");
            }

        });
        $('#addNewArea').click(function (e) {
            count++;
            $('#totaldelivery').after('<div class="form-group" id="itemgroup' + count + '"><label for="TotalPrice" class="col-sm-3 control-label"></label><div class="col-sm-2"><input type="text" class="form-control required" id="TotalPrice' + count + '" name="TotalPrice' + count + '" placeholder="Tutar giriniz..." /></div><div class="col-sm-2"><input type="text" class="form-control required" id="DeliveryDate' + count + '" name="DeliveryDate' + count + '" placeholder="Tarih seçiniz..."/></div><div class="col-sm-1" style="line-height:35px;cursor:pointer;"><i class="fa fa-minus" onclick="removeArea(' + count + ')"></i></div></div>');
            $('#DeliveryDate' + count).datepicker();
        });


        $('#selecteditem1').click(function (e) {
            if ($('#PurchaseOrder1').attr("disabled")) {
                $('#PurchaseOrder1').prop("disabled", false);
            }
            else {
                $('#PurchaseOrder1').prop("disabled", true);
            }
        });
        $('#selecteditem2').click(function (e) {
            if ($('#PurchaseOrder2').attr("disabled")) {
                $('#PurchaseOrder2').prop("disabled", false);
            }
            else {
                $('#PurchaseOrder2').prop("disabled", true);
            }
        });
        $('#selecteditem3').click(function (e) {
            if ($('#PurchaseOrder3').attr("disabled")) {
                $('#PurchaseOrder3').prop("disabled", false);
            }
            else {
                $('#PurchaseOrder3').prop("disabled", true);
            }
        });

        $("#CreateContractFormSubmit").click(function () {

            var purcval1 = $("#PurchaseOrder1").val();
            var purcval2 = $("#PurchaseOrder2").val();
            var purcval3 = $("#PurchaseOrder3").val();


            var total = purcval1 + purcval2 + purcval3;

            alert("Ödemeniz onay için gönderildi");

        }
           );

    });
    function removeArea(cnt) {
        $('#itemgroup' + cnt).remove();
    }
    //function selecteditemfunc() {
    //    var selecteditem1 = document.getElementById("selecteditem1");
    //    var selecteditem2 = document.getElementById("selecteditem2");
    //    var selecteditem3 = document.getElementById("selecteditem3");

    //    selecteditem1.onclick = function () {
    //        $('#PurchaseOrder1').attr("disabled", "asdasd");
    //    };
    //    selecteditem2.onclick = function () {
    //        $('#PurchaseOrder2').attr("style", "display:table");
    //    };
    //    //selecteditem3.onclick = function () {

    //    //    $('#PurchaseOrder3').setAttribute('enabled', 'enabled');
    //    //};
    //}
</script>