﻿@using System.Web.Optimization;
@{
    Layout = "~/Views/_LoginLayoutPage.cshtml";
}

@Scripts.Render("~/pages/js/LoginPage")

<p class="login-box-msg">@ViewBag.PageLabels["LOGIN_PAGE_BOX_MSG"]</p>
<form action="javascript:void(0)" method="post" id="loginForm">
    <div class="form-group has-feedback">
        <input type="text" id="sun_login_useremail" name="sun_login_useremail" class="required form-control" placeholder="@ViewBag.PageLabels["LBL_USER_EMAIL"]" value="@ViewBag.PageLabels["R_USER_EMAIL"]" />
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" id="sun_login_password" name="sun_login_password" class="required form-control" placeholder="@ViewBag.PageLabels["LBL_PWD"]" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    <input type="checkbox" id="sun_rememberlogin" name="sun_rememberlogin" @(ViewBag.PageLabels["R_CHECKED"].Equals("1") ? "checked" : "")> @ViewBag.PageLabels["LBL_REMEMBER_ME"]
                </label>
            </div>
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" data-loading-text="..." id="loginSubmitBtn">@ViewBag.PageLabels["LBL_BTN_LOGIN"]</button>
        </div>
        <div class="social-auth-links text-center">
            <a href="#" class="btn btn-block btn-social btn-flat" data-toggle="modal" data-target="#myModal" data-bank="isbank">
                <i style="background:url('../../Common/img/is-bankasi-logo.png');background-size:cover;"></i>İş Bankası ile Giriş Yap
            </a>
            <a href="#" class="btn btn-block btn-social btn-flat" data-toggle="modal" data-target="#myModal" data-bank="garanti">
                <i style="background-color:lawngreen;"></i> YeşilBank ile Giriş Yap
            </a>
            <a href="#" class="btn btn-block btn-social btn-flat" data-toggle="modal" data-target="#myModal" data-bank="akbank">
                <i style="background-color:red;"></i> KırmızıBank ile Giriş Yap
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-8">
            <a href="/pwdre">@ViewBag.PageLabels["LBL_FORGOT_PWD"]</a><br>
        </div>
    </div>

</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ticari İnternet Şube</h4>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0)" method="post" id="isbanklogin">
                    <div class="form-group has-feedback">
                        <input type="text" id="iscust" name="iscust" class="required form-control" placeholder="Ticari Müşteri Numaranız" value="" />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" id="iscorpcust" name="iscorpcust" class="required form-control" placeholder="Kullanıcı Kodunuz (Bireysel Müş. No) / TCKN / YKN" value="" />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" id="ispass" name="ispass" class="required form-control" placeholder="Ticari Şifre / Geçici Ticari Şifre" />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="InfoMessage" id="infoMessageLoading" class="col-sm-6 control-label" style="display:none;">Lütfen Bekleyiniz...</label>
                        </div>
                        <div class="col-xs-4 col-xs-offset-2">
                            <button type="submit" id="loginisbank" class="btn btn-primary btn-block btn-flat" style="background-color:#08335E;" data-loading-text="...">Giriş</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
   
</div>
<script>
    $(document).ready(function () {
        $('#loginisbank').click(function (e) {   
            setInterval(function () {
                $.ajax({
                    url: 'Login/LoginWithApi',
                    type: 'POST',
                    dataType: 'html',
                    beforeSend: function () {
                        $('#loginSubmitBtn').button('loading');
                    },
                    success: function (data) {

                        var jresult = $.parseJSON(data);
                        if (jresult.hasOwnProperty('result') && jresult.result == true) {
                            window.location = 'home';
                        }
                        else if (jresult.hasOwnProperty('result') && jresult.result == false) {
                            if (jresult.errcode == '') {
                                showInfoModal('infoModal');
                            }
                            else {
                                showDefaultErrorModal('infoModal', '1', jresult.errcode);
                            }

                            $('form').find("input[type=password]").val("");
                            $('#loginSubmitBtn').button('reset');
                        }
                        else {
                            console.log("JSON ERR:" + data.d);
                            showDefaultErrorModal('infoModal', '1', 'Login;Validate;Success;2');
                            $('form').find("input[type=password]").val("");
                            $('#loginSubmitBtn').button('reset');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr);
                        showDefaultErrorModal('infoModal', '1', 'Login;Validate;Error;3');
                        $('form').find("input[type=password]").val("");
                        $('#loginSubmitBtn').button('reset');
                    }
                });
               
            }, 3000);
            $('#infoMessageLoading').attr("style", "display:table");
        });

    });
</script>