﻿@using System.Web.Optimization;
@using VahaInetpub.Models;
@using VahaInetpub.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = VahaInetpub.Utility.CommonConfiguration.SiteLanguage();
}
@Styles.Render("~/plugins/css/datatables")
@Scripts.Render("~/plugins/js/datatables")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
               
            </div>
            <div class="box-body">
                <table id="dtTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        @foreach (String header in ViewBag.TableHeaders)
                        {
                            <th>@header</th>
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (AccountObject accObj in ViewBag.accountList)
                    {
                         <tr>
                            <td>@accObj.Bank</td>
                            <td>@accObj.Branch</td>
                            <td>@accObj.Number</td>
                            <td>@accObj.Balance</td>
                        </tr>    
                    }
                       
                    </tbody>   
                </table>                             
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dtTable').DataTable({
            "language": {
                "url": JsAppRoot + "Common/plugins/datatables/lang/" + JsAppLang + ".json"
            }
        });
        $('.tooltipIcon').tooltip()
    });
</script>