﻿@using System.Web.Optimization;
@using VahaInetpub.Models;
@using VahaInetpub.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = VahaInetpub.Utility.CommonConfiguration.SiteLanguage();
}
@Styles.Render("~/plugins/css/datatables")
@Scripts.Render("~/plugins/js/datatables")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                
            </div>
            <div class="box-body">
                <table id="dtTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        @foreach (String header in ViewBag.TableHeaders)
                        {
                            <th>@header</th>
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (CashFlowObject cfObj in ViewBag.cashFlowList)
                    {
                         <tr>
                             <td>@cfObj.BuySell</td>
                             <td>@cfObj.Description</td>
                            <td>@cfObj.Date</td>
                            <td>@cfObj.Amount</td>
                            <td>@cfObj.Status</td>
                        </tr>    
                    }
                       
                    </tbody>   
                </table>                             
            </div>
            <div class="col-md-8">
                <p class="text-center">
                    <strong>Nakit Akışı: 1 Ocak, 2017 - 31 Aralık, 2017</strong>
                </p>
                <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" style="height: 180px; width: 816px;" width="1020" height="225"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dtTable').DataTable({
            "language": {
                "url": JsAppRoot + "Common/plugins/datatables/lang/" + JsAppLang + ".json"
            }
            ,"order": [[ 2, "desc" ]]
        });
        $('.tooltipIcon').tooltip()
    });

    $(function () {
       
        'use strict';

        /* ChartJS
         * -------
         * Here we will create a few charts using ChartJS
         */

        // -----------------------
        // - MONTHLY SALES CHART -
        // -----------------------

        // Get context with jQuery - using jQuery's .get() method.
        var salesChartCanvas = $('#salesChart').get(0).getContext('2d');
        // This will get the first returned node in the jQuery collection.
        var salesChart = new Chart(salesChartCanvas);
        $('#calendar').datepicker();
        var salesChartData = {
            labels: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
            datasets: [
              {
                  label: 'Gelir',
                  fillColor: 'rgb(210, 214, 222)',
                  strokeColor: 'rgb(210, 214, 222)',
                  pointColor: 'rgb(210, 214, 222)',
                  pointStrokeColor: '#c1c7d1',
                  pointHighlightFill: '#fff',
                  pointHighlightStroke: 'rgb(220,220,220)',
                  data: [16000, 5900, 8000, 8100, 5600, 2300, 4100, 2800, 4008, 0, 0, 0]
              },
              {
                  label: 'Gider',
                  fillColor: 'rgba(60,141,188,0.9)',
                  strokeColor: 'rgba(60,141,188,0.8)',
                  pointColor: '#3b8bba',
                  pointStrokeColor: 'rgba(60,141,188,1)',
                  pointHighlightFill: '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data: [2800, 4008, 4020, 919, 8600, 270, 9000, 16000, 5900, 0, 0, 0]
              }
            ]
        };

        var salesChartOptions = {
            // Boolean - If we should show the scale at all
            showScale: true,
            // Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            // String - Colour of the grid lines
            scaleGridLineColor: 'rgba(0,0,0,.05)',
            // Number - Width of the grid lines
            scaleGridLineWidth: 1,
            // Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            // Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            // Boolean - Whether the line is curved between points
            bezierCurve: true,
            // Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            // Boolean - Whether to show a dot for each point
            pointDot: false,
            // Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            // Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            // Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            // Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            // Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            // Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            // String - A legend template
            legendTemplate: '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<datasets.length; i++){%><li><span style=\'background-color:<%=datasets[i].lineColor%>\'></span><%=datasets[i].label%></li><%}%></ul>',
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            // Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        // Create the line chart
        salesChart.Line(salesChartData, salesChartOptions);

        // ---------------------------
        // - END MONTHLY SALES CHART -
        // ---------------------------
    });

</script>