﻿@using System.Web.Optimization;
@using VahaInetpub.Models;
@using VahaInetpub.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = VahaInetpub.Utility.CommonConfiguration.SiteLanguage();
}
@Styles.Render("~/plugins/css/datatables")
@Scripts.Render("~/plugins/js/datatables")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <div class="table-add-new">
                    <a href="/contract/add" class="btn btn-sm btn-flat bg-olive"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;@ViewBag.AddNew</a>
                </div>
            </div>
            <div class="box-body">
                <table id="dtTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        @foreach (String header in ViewBag.TableHeaders)
                        {
                            <th>@header</th>
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (ContractObjects cfObj in ViewBag.contractList)
                    {
                         <tr>
                             <td>@cfObj.ContractId</td>
                             <td>@cfObj.ContractBuyerName</td>
                             <td>@cfObj.ContractSellerName</td>
                             <td>@cfObj.Amount</td>
                             <td>@cfObj.ExpiryDate.ToShortDateString()</td>
                             <td>@cfObj.InvoiceNumber</td>
                             
                             @if (cfObj.Status == "A")
                             {
                                <td>Aktif</td>
                                <td></td>
                             }
                             else if (cfObj.Status == "O")
                             {
                                 <td>Onay Bekleniyor</td>
                             <td>
    <a href="javascript:void(0)" onclick="Onayla()" class="tooltipIcon" title="Onayla">
        <i class="fa fa-thumbs-o-up"></i>&nbsp;Onayla
    </a>
</td>
                             }

                             
                            
                        </tr>    
                    }
                       
                    </tbody>   
                </table>                             
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dtTable').DataTable({
            "language": {
                "url": JsAppRoot + "Common/plugins/datatables/lang/" + JsAppLang + ".json"
            }
            ,"order": [[ 2, "desc" ]]
        });
        $('.tooltipIcon').tooltip()
    });

    function Onayla()
    {
        alert("İşlemi onayladınız.");
    }
</script>