﻿@using VahaInetpub.Utility;
@using VahaInetpub.Models;
@{
    ViewBag.Title = "ShowChangePassword";
    UserSessionData userInfo = Session["UserSessionData"] != null ? (UserSessionData)Session["UserSessionData"] : new UserSessionData();
}
@System.Web.Optimization.Scripts.Render("~/pages/js/ShowChangePassword")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        
        <form class="form-horizontal" id="FormCheckPassword" name="FormCheckPassword">
            <div class="modal-header">
                <h3>@ViewBag.sfreDegistr <span class="extra-title muted"></span></h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="UserName" class="col-sm-3 control-label">@ViewBag.FormLabels["UserName"]</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="UserName" name="UserName" value="@userInfo.Username" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CurrentPassword" class="col-sm-3 control-label">@ViewBag.FormLabels["CurrentPassword"]</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control required" id="CurrentPassword" name="CurrentPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="NewPassword" class="col-sm-3 control-label">@ViewBag.FormLabels["NewPassword"]</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control required" id="NewPassword" name="NewPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ComfirmPassword" class="col-sm-3 control-label">@ViewBag.FormLabels["ComfirmPassword"]</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="ComfirmPassword" name="ComfirmPassword" />
                    </div>
                </div>
            </div>
            <div id="close" class="modal-footer">
                <div style="float:right;width:30%;">
                    <button href="#" class="btn" data-dismiss="modal" id="Cancel"  aria-hidden="true">@ViewBag.SubmitBtn2</button>
                    <input type="submit" class="btn btn-primary" id="PasswordModalSave" value="@ViewBag.SubmitBtn" />
                </div>
                <div style="float:right;width:70%;">
                    <div id="Msg" style="width:100%;height:40px;text-align:left;line-height:35px;"></div>
                </div>
            </div>
        </form>
    </div>
</div>
